.projectcard {
  grid-column: span 4;
  height: 256px;
  position: relative;
  opacity: 0;
}

.projectcard-image {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  border-top-right-radius: 40px;
  object-fit: cover;
}

.projectcard-overlay {
  width: 316px;
  height: 128px;
  margin: 216px auto;
  background-color: var(--white);
  padding-top: 4px;
  padding-left: 8px;
}

.projectcard-title {
  font-size: 24px;
  margin-bottom: 4px;
}

.projectcard-description {
  font-size: 20px;
  --max-lines: 2;
  --line-height: 1.35;
  max-height: calc(var(--max-lines) * 1em * var(--line-height));
  line-height: var(--line-height);
  overflow: hidden;
  position: relative;
}

.projectcard-description::before {
  content: "";
  position: absolute;
  height: calc(1em * var(--line-height));
  width: 100%;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(to bottom, transparent, var(--white));
}

.projectcard-button {
  border: 2px solid black;
  border-radius: 4px;

  width: 308px;
  margin: 40px auto;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  padding-top: 4px;
  padding-bottom: 4px;
  letter-spacing: 1px;
  text-indent: 1px;
  transition: 0.2s all ease-in-out;
}

.projectcard-button:hover {
  background: var(--black);
  color: var(--white);
  font-weight: bold;
}
