.navbar-grid {
  margin: auto;
  display: grid;
  grid-template-columns: var(--col);
  column-gap: var(--colGap);
  height: var(--navbarHeight);
}

#navbar-title {
  grid-column: 2;
  font-size: 40px;
  font-weight: 1000;
  color: var(--green);
  margin: auto;
}

.navbar-pages {
  grid-column: var(--lastCol);
  display: grid;
  grid-template-columns: repeat(4, 72px);
  column-gap: var(--colGap);
  font-size: 24px;
  font-weight: 400;
}

.navbar-page {
  margin: auto;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  height: 40px;
}

.active-nav-child {
  height: 4px;
  background: var(--green);
  border-radius: 2px;
}

#navbar-main {
  grid-column: 1;
}

#navbar-about {
  grid-column: 2;
}

#navbar-projects {
  grid-column: 3;
}

#navbar-contact {
  grid-column: 4;
}

/* @media screen and (max-width: 1360px) {
  .navbar-pages {
    display: none;
  }
} */
