.card {
  display: flex;
  align-items: flex-start;
}

.card-image {
  /* background: var(--black); */
  background: linear-gradient(#22c34a, var(--black));
  margin-right: 24px;
  height: 240px;
  width: 240px;
  border-radius: 120px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.card-right {
  padding-top: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card-name {
  font-weight: 800;
  font-size: 24px;
  color: var(--green);
}

.card-title {
  font-weight: 500;
  font-size: 20px;
}

.card-icons {
  margin-top: 4px;
}

.card-description {
  width: 240px;
  font-weight: 500;
  font-size: 16px;
}

.divider-line {
  height: 2px;
  width: 240px;
  background: var(--black);
  border-radius: 8px;
  opacity: 0.2;
  margin: 8px auto;
}
