.form-grid {
  display: grid;
  width: auto;
  background: var(--white);
  padding: 12px 24px 0px 24px;
  margin: 0px -24px 0px -24px;
}

.form-grid > input {
  border: none;
  border-bottom: 2px solid var(--black);
  outline: none;
  margin-top: 8px;
  margin-bottom: 40px;
}

.form-grid > label,
input {
  font-size: 20px;
  font-weight: 500;
}

.form-grid > textarea {
  height: 200px;
  border: 2px solid var(--black);
  outline: none;
  resize: none;
  font: inherit;
  margin-top: 12px;
  margin-bottom: 40px;
  padding: 4px;
}

.form-grid > button {
  height: 60px;
  width: 160px;
  margin: auto;
  border: 2px solid var(--black);
  background: var(--black);
  color: var(--white);
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}

.form-grid > button:hover {
  background: #fff;
  color: #000;
  font-weight: bold;
}
