.navbar-grid {
  margin: auto;
  display: grid;
  grid-template-columns: var(--col);
  column-gap: var(--colGap);
  height: var(--navbarHeight);
}

#navbar-logo {
  grid-column: 2;
  height: 100%;
  display: flex;
  align-items: center;
}

#navbar-logo > img {
  width: 100%;
}

.navbar-pages {
  grid-column: var(--lastCol);
  /* display: grid;
  grid-template-columns: repeat(4, 72px);
  column-gap: var(--colGap); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
}

.navbar-page {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  height: 100%;
  width: 100%;
}

.navbar-page:hover {
  background: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3)
  );
}

.navbar-page > span {
  pointer-events: none;
}

.active-nav {
  position: relative;
}

.active-nav-child {
  height: 8px;
  width: 100%;
  background: var(--green);
  position: absolute;
  top: 0;
}

#navbar-main {
  grid-column: 1;
}

#navbar-about {
  grid-column: 2;
}

#navbar-projects {
  grid-column: 3;
}

#navbar-contact {
  grid-column: 4;
}

/* @media screen and (max-width: 1360px) {
  .navbar-pages {
    display: none;
  }
} */
