.projects-grid {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: var(--col);
  column-gap: var(--colGap);
  margin-top: 34px;
}

.card-grid {
  grid-column: 2;
  display: grid;
  grid-template-columns: var(--colNoAuto);
  column-gap: var(--colGap);
  row-gap: 184px;
}
