:root {
  --col: auto 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px
    72px 72px 72px auto;
  --contentCol: 2/18;
  --lastCol: 13/17;
  --colGap: 24px;
  --green: rgb(107, 142, 35);
}

.app-flex {
  display: flex;
  justify-content: center;
}

.app-grid {
  display: grid;
  grid-template-columns: var(--col);
  column-gap: var(--colGap);
}

.navbar {
  grid-row: 1;
  grid-column: 1/-1;
}

.app-content {
  grid-row: 3;
  grid-column: var(--contentCol);
}

.banner {
  grid-column: 1/-1;
  grid-row: 2;
  height: 268px;
  width: 100%;
  object-fit: cover;
  object-position: 0% 82%;
}

/* large desktop */
@media screen and (max-width: 1920px) {
  :root {
    --col: auto 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px auto;
    --lastCol: 10/14;
    --contentCol: 2/14;
  }
}

/* medium desktop */
@media screen and (max-width: 1360px) {
  :root {
    --col: auto 72px 72px 72px 72px 72px 72px 72px 72px auto;
    --lastCol: 6/10;
    --contentCol: 2/10;
  }
}

/* small desktop */
@media screen and (max-width: 1024px) {
  :root {
    --col: auto 72px 72px 72px 72px 72px 72px auto;
    --lastCol: 4/8;
    --contentCol: 2/8;
  }
}

/* handheld devices */
@media screen and (max-width: 720px) {
  :root {
    --col: auto 72px 72px 72px 72px auto;
    --lastCol: 2/6;
    --contentCol: 2/6;
  }
}
