:root {
  /* --col: auto 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px
    72px 72px 72px auto;
  --colNoAuto: repeat(16, 72px);
  --lastCol: 13/17; */

  --col: auto 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px auto;
  --colNoAuto: repeat(12, 72px);
  --lastCol: 10/14;
  --colGap: 24px;
  --green: #367e18;
  /* --white: #fcfcfc; OLD*/
  --white: #f1efeb;
  /* --black: #181818; OLD*/
  --black: #31302f;
  --navbarHeight: 64px;
}

.app-grid {
  display: grid;
  grid-template-columns: var(--col);
  column-gap: var(--colGap);
}

.subtitle {
  font-size: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.text {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
}

/* large desktop */
/* @media screen and (max-width: 1920px) {
  :root {
    --col: auto 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px auto;
    --lastCol: 10/14;
    --colNoAuto: repeat(12, 72px);
  }
} */

/* medium desktop */
@media screen and (max-width: 1300px) {
  :root {
    --col: auto 72px 72px 72px 72px 72px 72px 72px 72px auto;
    --colNoAuto: repeat(8, 72px);
    --lastCol: 6/10;
  }
}

/* small desktop */
/* @media screen and (max-width: 1360px) {
  :root {
    --col: auto 72px 72px 72px 72px 72px 72px auto;
    --lastCol: 4/8;
    --colNoAuto: repeat(6, 72px);
  }
} */

/* handheld devices */
@media screen and (max-width: 800px) {
  :root {
    --col: auto 72px 72px 72px 72px auto;
    --lastCol: 2/6;
    --colNoAuto: repeat(4, 72px);
  }
}
