:root {
  /* --col: auto 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px
    72px 72px 72px auto;
  --colNoAuto: repeat(16, 72px);
  --contentCol: 2/18;
  --lastCol: 13/17; */

  --col: auto 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px auto;
  --lastCol: 10/14;
  --contentCol: 2/14;
  --colNoAuto: repeat(12, 72px);
  --colGap: 24px;
  --green: #367e18;
  --white: #fdfdfd;
  --black: #181818;
}

.app-flex {
  display: flex;
  justify-content: center;
}

.app-grid {
  display: grid;
  grid-template-columns: var(--col);
  column-gap: var(--colGap);
}

.navbar {
  grid-row: 1;
  grid-column: 1/-1;
}

.app-content {
  grid-row: 2;
  grid-column: 1/-1;
}

.banner {
  grid-column: 1/-1;
  grid-row: 2;
  height: 268px;
  width: 100%;
  object-fit: cover;
  object-position: 0% 82%;
}

.subtitle {
  font-size: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.text {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
}

/* large desktop */
/* @media screen and (max-width: 1920px) {
  :root {
    --col: auto 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px auto;
    --lastCol: 10/14;
    --contentCol: 2/14;
    --colNoAuto: repeat(12, 72px);
  }
} */

/* medium desktop */
/* @media screen and (max-width: 1360px) {
  :root {
    --col: auto 72px 72px 72px 72px 72px 72px 72px 72px auto;
    --lastCol: 6/10;
    --contentCol: 2/10;
    --colNoAuto: repeat(8, 72px);
  }
} */

/* small desktop */
@media screen and (max-width: 1360px) {
  :root {
    --col: auto 72px 72px 72px 72px 72px 72px auto;
    --lastCol: 4/8;
    --contentCol: 2/8;
    --colNoAuto: repeat(6, 72px);
  }
}

/* handheld devices */
@media screen and (max-width: 720px) {
  :root {
    --col: auto 72px 72px 72px 72px auto;
    --lastCol: 2/6;
    --contentCol: 2/6;
    --colNoAuto: repeat(4, 72px);
  }
}
